.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 2%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.pageContent {
  display: flex;
  flex-direction: column;
}

#map {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.mapboxgl-canvas {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  box-shadow: 10px 10px grey;
  border-radius: 10px;
  box-shadow: 10px 10px grey;
}
.calculateCO2 {
  display: inline-block;
  margin-bottom: 5%;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  transition: all 0.15s;
  border-radius: 10px;

  padding: 10px;
  width: 500px;
}

.calculateCO2 :hover {
  color: #dddddd;
  border-color: #dddddd;
}
.calculateCO2:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.layout {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-right: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
