/* body {
  background-color: white;
  margin: 0px;
  padding: 0px;
} */

/* https://www.w3schools.com/howto/howto_css_navbar_image.asp */

/* .Banner {
  color: red;
  background-image: url("../images/main_cyclenow.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  display: flex;
  justify-content: center;
  position: relative;
} */

.containerforHeader {
  background-image: url("/images/main_cyclenow.jpeg");
  min-height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  margin: 20px;
  width: -100%;
  border-radius: 10px;
  box-shadow: 10px 10px grey;
}

.Banner {
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* font-size: 1.2em; 
   width: 100%; 
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  */
}

.Banner h2 {
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

/* .topnavHeader {
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-end;
} */
/* .menuforHeader img {
  float: left;
  justify-content: flex-start;
} */
/* 
.menuforHeader a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  justify-content: flex-end;
  font-size: 18px;
  border-radius: 10px;
} */

/* .menuforHeader a:hover {
  background-color: white;
  color: black;
} */

/* .Banner p {
  color: yellow;
  font-size: 1.2em;
  /* width: 100%; */
/* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
}  */

/* .Banner {
  color: white;
  font-size: 1.2em;
  width: 50%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
} */

.CycleInfo img {
  width: 100vw;
  /* height: 100px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  margin: 5vh;
}
.DoYouKnow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.DoYouKnow img {
  height: 80vh;
  width: 60vh;
  border-radius: 10px;
}

.DoYouKnowText {
  display: flex;
  font-size: 2.5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vh;
  margin-left: 2vw;
}

.DoYouKnowText a {
  border-radius: 10px;
  color: white;
  text-decoration: none;
  border: 2px;
}

.DoYouKnowText img {
  height: 15vh;
  width: 40vw;
}
