.routesList {
  display: flex;
  flex-direction: column;
  margin-top: 5%;

  width: 96%;

  background-color: whitesmoke;
  box-shadow: 10px 10px grey;
  height: 350px;
  overflow-y: scroll;
  border-radius: 10px;
}
link {
  size: 14px;
 
}

.routesLink:hover{
text-decoration: none;
color:rgb(0, 195, 0);
font-size: larger;
}

img {
  margin-right: 2%;
}
