.singleRoute {
  background-color: lightgray;
  box-shadow: 10px 10px grey;
  border-radius: 10px;
  width: 96%;
  margin-bottom: 10%;
}

.deleteRouteBtn {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
  box-sizing: border-box;

  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
  background-color: lightcoral;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
